@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #edeef0;
}

header {
	background: #323232;
	height: 50px;
	width: 100%;
	z-index: 999;
	position: fixed;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.header {
	margin-right: 10%;
	margin-left: 10%;
	display: flex;
}

.site-name {
	color: white;
	margin-right: 5%;
}

.nav-btn {
	color: white;
	font-size: 20px;
	transition: 0.3s;
	width: 185px;
}

.nav-btn:hover, .sidebar-btn:hover {
	background: #46B2F0;
}

.content {
	text-align: center;
}

.container {
	margin-right: 10.5%;
	margin-left: 10.5%;	
}

.news {
	border-color: #bdc3c7;
	border-style: solid;
	border-width: 0.7px;
	background-color: white;
	border-radius: 15px;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	margin-bottom: 10px;
	position: relative;
	margin-right: 10.5%;
	margin-left: 10.5%;
}

.preview {
	display: flex;
	margin: 30px;
	text-align: justify;
}

.news-link {
	color: black;
	border: 1px solid black;
	border-radius: 20px;
	font-size: 20px;
	padding:3px;
	width: 130px;
	margin-top: 5px;
	transition: 0.2s;
	float: right;
	outline: none;
}

.news-link:hover {
	color: white;
	background: #46B2F0;
	border-color: #46B2F0;
}

.news-img {
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.news-text {
   	margin-right: 10.5%;
	margin-left: 10.5%;
	font-size: 18px;
	text-align: justify;
}

.box-comment{
	font-size: 20px;
	text-align: center;
	border-radius: 24px;
}

.box-comment input[type = "text"]{
	width: 75%;
	border: 0;
	background: none;
	margin: 20px auto;
	border: 2px solid #46B2F0;
	padding: 14px 10px;
	outline: none;
	border-radius: 24px;
}

.box-comment button{
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #46B2F0;
	outline: none;
	width: 48px;
	height: 48px;
	border-radius: 34px;
	transition: 0.25s;
	cursor: pointer;
}

.box-comment button:hover{
	color: white;
	background: #46B2F0;
}

.box-login {
	font-size: 20px;
	text-align: center;
	border-radius: 24px;
	border: 0;
	background: none;
	margin: 5px auto;
	border: 2px solid #46B2F0;
	padding: 14px 10px;
	outline: none;
	border-radius: 24px;
}

.button-login {
	margin: 15px auto;
	font-size: 20px;
	text-align: center;
	border-radius: 24px;
	border: 0;
	background: none;
	width: 150px;
	border: 2px solid #46B2F0;
	padding: 14px 10px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.button-login:hover {
	color: white;
	background-color: #46B2F0;
}

.log-box {
  display: flex;
  flex-direction: column;
}

#comment {
	display: flex;
	background: none;
	margin: 20px auto;
}

#comment1 {
	border: 0;
	background: none;
	border: 2px solid #46B2F0;
	padding: 14px 10px;
	border-radius: 24px;
	width: 100%;
	text-align: justify;
}

.container {
	margin-right: 10.5%;
	margin-left: 10.5%;	
}

#avatar_img{
	border-radius: 50px;
	max-width: 50px;
	max-height: 50px;
	margin-right: 5px;
}

#sidebar{
	position: fixed;
	width: 250px;
	background: #1c1f23;
	z-index: 111;
	left: -250px;
	transition: 0.4s;
	height: 100%;
	padding-top: 50px;
}

#sidebar.active{
	left: 0px;
}

.sidebar-btn {
	color: white;
	font-size: 25px;
	transition: 0.3s;
	width: 100%;
	height: 50px;
}

.toggle-btn{
	position: absolute;
	padding: 9px 30px;
	cursor: pointer;
}

.toggle-btn span{
	display: block;
	width: 20px;
	height: 4px;
	background-color: #E0E5EA;
	margin: 4px 0;
}

.img {
	width: 300px;
}

.forum-link {
	border: 2px solid #46B2F0;
}

.comment-group {
	margin-right: 10.5%;
	margin-left: 10.5%;
}

#genre {
	font-size: 12px;
	width: 150px;
	transition: 0.2s;
	background: none;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #46B2F0;
	padding: 14px 10px;
	outline: none;
	border-radius: 24px;
	color: white;
}

#genre:hover {
	background: #46B2F0;
	color: white;
}

#genre-bar {
	margin: 10%;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;	
}

#vipad {
	background: #1c1f23;
}

.search-box {
	margin-left: 10%;
	background: #2f3640;
	border-radius: 40px;
	display: flex;
	float: left;
}

.search-btn:hover {
	background: #46B2F0;
	color: white;
}

.search-btn {
	color: #e84118;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2f3640;
	transition: 0.3s;
	color: #46B2F0;
}

.search-txt {
	padding-left: 10px;
	border: none;
	background: none;
	outline: none;
	color: white;
	font-size: 15px;
}

.sidebar-search-box {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #2f3640;
	border-radius: 40px;
	display: flex;
}

#name{
	color: #484848;
	font-size: 30px;
}

#main {
	padding: 0% 10%;
	float: left;
	color: #484848;
	font-size: 20px;
}

#main div {
	width: 45%;
	margin-right: 2%;
	float: left;
	padding-bottom: 50px;
}

@media (max-width: 451px) {
	#genre {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.toggle-btn {
		visibility: hidden;
		display: none;
	}
	#sidebar {
		visibility: hidden;
		display: none;		
	}
}
@media (min-width: 821px) {
	.news-img img {
		max-width: 40%;
	}
}

@media (max-width: 999px) {
	.nav-btn {
		visibility: hidden;
		display: none;
	}
	.site-name {
		margin-left: 0;
		margin-right: 0;
	}
	.header {
		text-align: center;
		display: block;
	}
	.preview {
		align-items: center;
	}
	.search-box {
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 820px) {
	.preview {
		display: block;
	}
	.img {
		width: 100%;
	}
	.news-img img {
		width: 70%;
	}
}

@media (min-width: 1401px) {
	#index_img{
		max-width: 60%;
		max-height: 60%;
	}
}

@media (max-width: 1400px) {
	#index_img{
		max-width: 60%;
		max-height: 60%;
	}
}

@media (max-width: 700px) {
	#main div {
		width: 98%!important;
		margin-bottom: 20px;
	}
	#index_img{
		max-width: 100%;
		max-height: 100%;
	}
}